// Variables
.red {background:red;}
.green {background:green;}
.gray {background:gray;}
.darkGray {background:darkgray;}
.lightGray {background:lightgray;}
.block {display:block;}

// Other Stuff?
.card {
	min-height:100vh;
}
.navAnchor {

}

//Foundation Overrides
.top-bar {margin-bottom:0;}

.top-bar a {
	transition: all 0.12s ease-out 0s;
    transition-property: all;
    transition-duration: 0.12s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}